body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}
.Main{
    background-color: aqua;
    margin: 30px;
    height: calc(100vh - 60px);
    border-radius: 30px;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
}
.Formelcard{
    background-color: blueviolet;
    border: solid 3px rgb(227, 0, 0);
    height: calc(100% - 30px);
    margin: 10px;
    display: grid;
    place-items: center;
    width: 45vw;

}
.Formelbutton{
    background-color: darkorange;
    height: fit-content;
    margin: 10px;
    width: calc(100% - 20px);
}
iframe{
    border: none;
}
.Formeliframe{
    width: calc(100% - 20px);
}
.Formel{
    overflow: hidden;
}